#about {
    background-color: #d4f1d4; /* light green */
    padding: 50px;
}

#skills {
    background-color: #fff3cd; /* light yellow */
    padding: 50px;
}

#projects {
    background-color: #f8d7da; /* light pink */
    padding: 50px;
}
